@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Slab:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width:767px){
   
    .container{
        width: 100%;
        height: 100vh;
        position: relative;
        .navbar{ display: flex;
            justify-content: space-between;
            
            h2{
            padding: 8px;
                font-size: 20px;
                font-family: "Roboto Slab", serif;
            }
            .nav{
               
                ul{
                  
                    li{ 
                        a{
                            margin-top: 7px;
                            
                            padding-bottom: 7px;
                           //padding: 5px;
                            font-size: 15px;
                                
                            text-decoration: none;
                            cursor: pointer;
                            position: relative;
                            color: #000;
                            padding: 0.1rem 1rem;
                            transition: color 0.25s;
                        
                        a::after{
                            position: absolute;
                            content: "";
                            inset: 0;
                            background-color: rgb(39, 39, 105);
                            scale: 1 0;
                            z-index: -1;
                            transition: 0.45s;
                            border-radius: 5px;
    
                        }
                        a:hover{
                            color: #fff;
    
                        }
                        a:hover::after{
                            scale: 1 1;
                        }
                        }
                    }
                }
            }
        }


section{
         
            width: 100%;
            height: 90vh;
           
            .row{
           
              
                display: flex;
                flex-direction: column;
                align-items: center;
                .para{
                    text-align: center;
                    justify-content: center;
                   
                    line-height: 2;
                    h1{ 
                       // font-family: "Sour Gummy", sans-serif;
                       font-family: "Roboto Slab", serif;
                       font-size: 60px;
                    }
                    p{
                        font-family: "Roboto Slab", serif;
                    }
                }
                .img1{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                   
                }
                .img1:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }

    }
.container-profile{
    width: 100%;
    height: 100vh;
        section{
            height: 100vh;
            background-image: linear-gradient(white,rgb(142, 182, 197)80%);
            // background-image: linear-gradient(45deg,rgb(142, 182, 197) 50%,rgb(11, 11, 90) 50%);
            .row1{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 300px;
              
                .second-img{
                
                justify-content: center;
                width: 100px;
                height: 160px;
                object-fit: cover;
                border-radius: 10px;
                border: 6px solid rgb(37, 40, 129);
                border-style: double;
                display: block;
                margin: auto;
          



                }
                .profile{
                
                   max-width: 320px;
                 
                  
                   border-radius: 7px;
                 height: 30px;

                    h1{
                        font-family: "Sour Gummy", sans-serif;
                    }
                    p{
    text-indent: 20px;
    line-height: 1.5;
    // margin: 20px;
    font-family: "Roboto Slab", serif;
   
                    }
                   
                }
            }
            
            .box{
                display: flex;
               height: 45vh;
                gap: 8px;
                justify-content: space-evenly;
                align-items: end;
                margin: 10px;
            .box-1{
                width: 120px;
                height: 60px;
                background-color: rgb(249, 41, 75);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
               // margin-left: 5px;
                //margin: 30px;
              }
              .box-2{
                width: 120px;
                height: 60px;
                background-color: rgb(78, 108, 243);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                //margin: 30px;
              }
              .box-3{
                width: 120px;
                height: 60px;
                background-color: rgb(220, 232, 48);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
               // margin: 30px;
              }
              .box-4{
                width: 120px;
                height: 60px;
                background-color: rgb(129, 34, 224);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
               // margin-right: 5px;
                //margin: 30px;
              }}
        }
    }

  
 .container-skills{
    background-image: linear-gradient(45deg,rgb(142, 182, 197) 50%,rgb(11, 11, 90) 50%);
        // background-image: url(IT.jpg);
        width: 100%;
        height: 100vh;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        
      
      
        
        .web{
          display: flex;
          flex-direction: column;
        .web-title{
            font-family: "Sour Gummy", sans-serif;
          font-size: 30px;
          color: #fff;
          display: flex;
          justify-content: center;
          padding: 7px;
          margin: 7px;
          font-size: 25px;
          text-shadow: 2px 2px 5px rgb(36, 88, 141);
        }
          .row1{
       
              display: flex;
              gap: 7px;
              .card-1{
                margin: 8px;
                margin-top: 7px;
                padding: 10px;
                width: 300px;
                height: 270px;
                background-color: rgba(255, 255, 255, 0.4); 
                backdrop-filter: blur(5px);
                line-height: 1.8;
                border-radius: 5px;
          
                h2{
                    margin-bottom: 3px;
                    text-align: center;
                    font-size: 20px;
                    text-shadow: 2px 2px 5px rgb(36, 88, 141);
                }
                p{
                    text-indent: 30px;
                    font-family: "Roboto Slab", serif;
                 
                }
                button{
                 padding: 6px;
                 border-radius: 6px;
                 border: 0;
                 background-color: rgb(33, 33, 114);
                 color: #fff;
                 margin-top: 4px;
                 margin-bottom: 5px;
                 a{
                  font-size: 10px;
                    text-decoration: none;
                    color: #fff;
                
                     }
              }
          }
              .card-2{
                margin: 8px;
                margin-top: 7px;
                padding: 10px;
                width: 300px;
                height: 270px;
                background-color: rgba(255, 255, 255, 0.4); 
                backdrop-filter: blur(5px);
                line-height: 1.8;
                border-radius: 5px;
          
                h2{
                    margin-bottom: 3px;
                    text-align: center;
                    font-size: 20px;
                    text-shadow: 2px 2px 5px rgb(36, 88, 141);
                }
                p{
                    text-indent: 30px;
                    font-family: "Roboto Slab", serif;
                 
                }
                button{
                 padding: 6px;
                 border-radius: 6px;
                 border: 0;
                 background-color: rgb(33, 33, 114);
                 color: #fff;
                 margin-top: 4px;
                 margin-bottom: 5px;
                 a{
                  font-size: 10px;
                    text-decoration: none;
                    color: #fff;
                
                     }
              }
          }
      }}
      
      
          .java{
              .js{font-family: "Sour Gummy", sans-serif;
                  font-size: 30px;
                  color: #fff;
                  display: flex;
                  justify-content: center;
                  padding: 20px;
                  font-size: 25px;
                  text-shadow: 2px 2px 5px rgb(36, 88, 141);
              }
              .row2{
                  display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
                  gap: 5px;
                  height: 28vh;
                  .weather{
                      margin: 5px;
                      margin-top: 5px;
                      padding: 5px;
                      margin-left: 5px;
                      width: 80px;
                      height: 80px;
                      background-image: url(/First-pg/weather.png);
                background-size: cover;
                background-position: center;
                      border-radius: 5px;
                    .weather-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                 }
                  .to-do-list{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    width: 80px;
                    height: 80px;   
                    margin-left: 10px;
                    background-image: url(/First-pg/to-do-list.png);
                    background-size: cover;
                    background-position: center;
                     
                     
                      border-radius: 5px;
                      .to-do-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }

                  }
                  .quiz-app{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/quiz.png);
              background-size: cover;
              background-position: center;
                      border-radius: 5px;
                      .quiz-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                  }
                  .random-app{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/random-pw.png);
              background-size: cover;
              background-position: center;
                     
                      border-radius: 5px;
                      .random-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                     
                  }
                  .note-app{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/note-app.png);
              background-size: cover;
              background-position: center;
                     
                      border-radius: 5px;
                      .note-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                  }
                  .game{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/game.png);
              background-size: cover;
              background-position: center;
                    border-radius: 5px;
                    .game-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                   
                       
                }
                .on-off{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/on-off.png);
              background-size: cover;
              background-position: center;
              margin-right: 5px;
                   
                    border-radius: 5px;
                    .on-off-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                   
                       
                }
            
          }
      }}
      footer{
        .total{
            display: flex;
            padding: 17px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 2;
            h2{
                display: flex;
                font-size: 20px;
                margin-bottom: 11px;
                //justify-content: space-between;
            }
            .icon{
                margin-right: 5px;
             
            }
            
        }
    }
      
    }
//For tablet
@media(min-width:768px ) and (max-width:991px){
    .container{
        width: 100%;
        height: 100vh;
        position: relative;
        .navbar{ display: flex;
            justify-content: space-between;
            
            h2{
            padding: 8px;
                font-size: 20px;
                font-family: "Roboto Slab", serif;
            }
            .nav{
               
                ul{
                  
                    li{ 
                        a{
                            margin-top: 7px;
                            
                            padding-bottom: 7px;
                           //padding: 5px;
                            font-size: 15px;
                                
                            text-decoration: none;
                            cursor: pointer;
                            position: relative;
                            color: #000;
                            padding: 0.1rem 1rem;
                            transition: color 0.25s;
                        
                        a::after{
                            position: absolute;
                            content: "";
                            inset: 0;
                            background-color: rgb(39, 39, 105);
                            scale: 1 0;
                            z-index: -1;
                            transition: 0.45s;
                            border-radius: 5px;
    
                        }
                        a:hover{
                            color: #fff;
    
                        }
                        a:hover::after{
                            scale: 1 1;
                        }
                        }
                    }
                }
            }
        }


section{
         
            width: 100%;
            height: 90vh;
           
            .row{
           
              
                display: flex;
                flex-direction: column;
                align-items: center;
                .para{
                    text-align: center;
                    justify-content: center;
                   
                    line-height: 2;
                    h1{ 
                       // font-family: "Sour Gummy", sans-serif;
                       font-family: "Roboto Slab", serif;
                       font-size: 60px;
                    }
                    p{
                        font-family: "Roboto Slab", serif;
                    }
                }
                .img1{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                   
                }
                .img1:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }

    }
.container-profile{
    width: 100%;
    height: 100vh;
        section{
            height: 100vh;
            background-image: linear-gradient(white,rgb(142, 182, 197)80%);
            // background-image: linear-gradient(45deg,rgb(142, 182, 197) 50%,rgb(11, 11, 90) 50%);
            .row1{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 500px;
              
                .second-img{
                
                justify-content: center;
                width: 160px;
                height: 230px;
                object-fit: cover;
                border-radius: 10px;
                border: 6px solid rgb(37, 40, 129);
                border-style: double;
                display: block;
                margin: auto;
          



                }
                .profile{
                
                   max-width: 430px;
                  // background-color: rgb(140, 143, 238);
                   border: 0;
                   border-radius: 7px;
                   

                    h1{
                        font-family: "Sour Gummy", sans-serif;
                    }
                    p{
    text-indent: 20px;
    line-height: 1.5;
    // margin: 20px;
    font-family: "Roboto Slab", serif;
   
                    }
                   
                }
            }
            
            .box{
                height: 50vh;
                display: flex;
                margin: 10px;
                padding: 10px;
                gap: 5px;
                justify-content: center;
                padding-bottom: 20px;
                align-items: end;
            .box-1{
                width: 120px;
                height: 60px;
                background-color: rgb(249, 41, 75);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                margin-left: 5px;
                margin: 10px;
              }
              .box-2{
                width: 120px;
                height: 60px;
                background-color: rgb(78, 108, 243);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                margin: 10px;
              }
              .box-3{
                width: 120px;
                height: 60px;
                background-color: rgb(220, 232, 48);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                margin: 10px;
              }
              .box-4{
                width: 120px;
                height: 60px;
                background-color: rgb(129, 34, 224);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                margin-right: 5px;
                     margin: 10px;
              }}
        }
    }

  
 .container-skills{
    background-image: linear-gradient(45deg,rgb(142, 182, 197) 50%,rgb(11, 11, 90) 50%);
        // background-image: url(IT.jpg);
        width: 100%;
        height: 100vh;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        
       
      
        
        .web{
          display: flex;
          flex-direction: column;
        .web-title{
            font-family: "Sour Gummy", sans-serif;
          font-size: 30px;
          color: #fff;
          display: flex;
          justify-content: center;
          padding: 7px;
          margin: 7px;
          font-size: 25px;
          text-shadow: 2px 2px 5px rgb(36, 88, 141);
        }
          .row1{
              //position: absolute;
              display: flex;
              gap: 10px;
              margin-left: 20px;
             
              .card-1{
                
                  margin: 8px;
                  margin-top: 7px;
                  padding: 10px;
                  width: 300px;
                  height: 248px;
                  background-color: rgba(255, 255, 255, 0.4); 
                  backdrop-filter: blur(5px);
                  line-height: 1.8;
                  border-radius: 5px;
                 
                  h2{
                      margin-bottom: 3px;
                      text-align: center;
                      font-size: 20px;
                      text-shadow: 2px 2px 5px rgb(36, 88, 141);
                  }
                  p{
                      text-indent: 30px;
                      margin-bottom: 5px;
                      font-family: "Roboto Slab", serif;
                   
                  }
                  button{
                   padding: 8px;
                   border-radius: 6px;
                   border: 0;
                   background-color: rgb(33, 33, 114);
                   color: #fff;
                   margin-top: 4px;
             
                   a{
                    font-size: 10px;
                      text-decoration: none;
                      color: #fff;
                   }
             
                  }
              }
              .card-2{
                margin: 8px;
                margin-top: 7px;
                padding: 10px;
                width: 300px;
                height: 248px;
                background-color: rgba(255, 255, 255, 0.4); 
                backdrop-filter: blur(5px);
                line-height: 1.8;
                border-radius: 5px;
          
                h2{
                    margin-bottom: 3px;
                    text-align: center;
                    font-size: 20px;
                    text-shadow: 2px 2px 5px rgb(36, 88, 141);
                }
                p{
                    text-indent: 30px;
                    font-family: "Roboto Slab", serif;
                 
                }
                button{
                 padding: 8px;
                 border-radius: 6px;
                 border: 0;
                 background-color: rgb(33, 33, 114);
                 color: #fff;
                 margin-top: 4px;
                 margin-bottom: 5px;
                 a{
                  font-size: 10px;
                    text-decoration: none;
                    color: #fff;
                
                     }
              }
          }
      }}
      
      
          .java{
              .js{font-family: "Sour Gummy", sans-serif;
                  font-size: 30px;
                  color: #fff;
                  display: flex;
                  justify-content: center;
                  padding: 20px;
                  font-size: 25px;
                  text-shadow: 2px 2px 5px rgb(36, 88, 141);
              }
              .row2{
                  display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: start;
                  gap: 5px;
                  height: 51vh;
                  .weather{
                      margin: 5px;
                      margin-top: 5px;
                      padding: 5px;
                      margin-left: 5px;
                      width: 80px;
                      height: 80px;
                      background-image: url(/First-pg/weather.png);
                background-size: cover;
                background-position: center;
                      border-radius: 5px;
                    .weather-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                 }
                  .to-do-list{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    width: 80px;
                    height: 80px;   
                    margin-left: 10px;
                    background-image: url(/First-pg/to-do-list.png);
                    background-size: cover;
                    background-position: center;
                     
                     
                      border-radius: 5px;
                      .to-do-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }

                  }
                  .quiz-app{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/quiz.png);
              background-size: cover;
              background-position: center;
                      border-radius: 5px;
                      .quiz-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                  }
                  .random-app{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/random-pw.png);
              background-size: cover;
              background-position: center;
                     
                      border-radius: 5px;
                      .random-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                     
                  }
                  .note-app{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/note-app.png);
              background-size: cover;
              background-position: center;
                     
                      border-radius: 5px;
                      .note-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                  }
                  .game{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/game.png);
              background-size: cover;
              background-position: center;
                    border-radius: 5px;
                    .game-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                   
                       
                }
                .on-off{
                    margin: 5px;
                    margin-top: 5px;
                    padding: 5px;
                    margin-left: 10px;
                    width: 80px;
                    height: 80px;
                    background-image: url(/First-pg/on-off.png);
              background-size: cover;
              background-position: center;
              margin-right: 5px;
                   
                    border-radius: 5px;
                    .on-off-icon{
                        width: 20px;
                        height: auto;
                        border-radius: 50%;
                        background-color: rgb(130, 189, 238);
                        border: 1px solid black;
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                   
                       
                }
            
          }
      }}
      footer{
        .total{
            display: flex;
            padding: 17px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 2;
            h2{
                display: flex;
                font-size: 20px;
                margin-bottom: 11px;
                //justify-content: space-between;
            }
            .icon{
                margin-right: 5px;
             
            }
            
        }
    }
}



.container{
    .navbar{
  
      display: flex;
      justify-content: space-between;
    
      h2{
        padding: 10px;
        margin-left: 10px;
      
    }
        .nav{
        
            
           
            ul{
                display: flex;
               
                margin-left: 10px;
             
                li{
                    font-size: 18px;
                    list-style: none;
                   padding: 10px;
                  
                    a{ position: relative;
                        text-decoration: none;
                        cursor: pointer;
                        position: relative;
                        color:#000;
                        padding: 0.5rem 1rem;
                        transition: color 0.25s;
                    }
                    a::after{
                        position: absolute;
                        content: "";
                        inset: 0;
                        background-color: rgb(24, 26, 94);
                        scale: 1 0;
                        z-index: -1;
                        transition: 0.45s;
                        border-radius: 5px;

                    }
                    a:hover{
                        color:#fff;
                        z-index: 1;
                    }
                    a:hover::after{
                        scale: 1 1;
                    }

                }
            }
        }
    }
}


.container{
    // background-image: linear-gradient(rgb(175, 175, 253),rgb(44, 44, 139));
    background-image: linear-gradient(135deg,rgb(142, 182, 197) 50%,rgb(11, 11, 90) 50%);
    position: relative;
    section{
        .row{
            width: 100%;
            height: 90vh;
            display: flex;
           
           
            justify-content: space-around;
            align-items: center;
            .para{
                justify-content: center;
                line-height: 1.7;
                color: #080909;
                h1{
                    font-size: 30px;
                }
                h4{
                    font-size: 20px;
                }
            }
            .img1{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border: 2.5px solid rgb(255, 255, 255);
            box-shadow: 0 10px 10px lightblue;
   
            }
            .img1:hover{
                transform: scale(1.1);
                transition: 0.5s;
            }
        }
    }
}




//For Destop
@media(min-width:992px){

    
.container{
    .navbar{
  
      display: flex;
      justify-content: space-between;
    
      h2{
        padding: 10px;
        margin-left: 10px;
        font-family: "Roboto Slab", serif;
      
    }
        .nav{
        
            
           
            ul{
                display: flex;
               
                margin-left: 10px;
             
                li{
                    font-size: 18px;
                    list-style: none;
                   padding: 10px;
                  
                    a{ position: relative;
                        text-decoration: none;
                        cursor: pointer;
                        position: relative;
                        color: #ffffff;
                        padding: 0.5rem 1rem;
                        transition: color 0.25s;
                    }
                    a::after{
                        position: absolute;
                        content: "";
                        inset: 0;
                        background-color: rgb(201, 201, 207);
                        scale: 1 0;
                        z-index: -1;
                        transition: 0.45s;
                        border-radius: 5px;

                    }
                    a:hover{
                        color:#000;
                        z-index: 1;
                    }
                    a:hover::after{
                        scale: 1 1;
                    }

                }
            }
        }
    }
}
.position-relative{
    .row{
        .para{
            h1{
                //font-family: "Sour Gummy", sans-serif;
                font-family: "Roboto Slab", serif;
               font-size: 80px;
            }
            p{
                font-family: "Roboto Slab", serif;
            }
        }
    }
}

.container-profile{
 
    section{
        padding-bottom: 100px;
        height: 100vh;
        background-image: linear-gradient(white,rgb(142, 182, 197)80%);
        // background-image: linear-gradient(45deg,rgb(142, 182, 197) 50%,rgb(11, 11, 90) 50%);
        //background-image: linear-gradient(rgb(142, 182, 197));
        .row1{
            
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            padding: 40px;
            height: 400px;
            flex-direction: row;
            .second-img{
            width: 200px;
            height: 300px;
            
            object-fit: cover;
            border-radius: 10px;
            border: 4px solid rgb(37, 40, 129);

            }

            .profile{
                max-width: 800px;
                height: auto;
                border-radius: 8px;
                padding: 20px;
            
               
                h1{
                    font-size: 30px;
line-height: 2;
font-family: "Sour Gummy", sans-serif;

                }
                p{
                    font-size: 18px;
                    font-family: "Roboto Slab", serif;
line-height: 2;
text-indent: 30px;

                }
            }
           
           
    }
    .box{
        display: flex;
        //margin: 10px;
        //padding: 10px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
   padding-bottom: 90px;
   margin-bottom: 90px;
    .box-1{
        width: 150px;
        height: 60px;
        background-color: rgb(249, 41, 75);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
       
        // .icon1{
        //     transform: scale(4);
        // }
      }
      .box-1:hover{
        transform: scale(1.1);
        transition: 0.5s;
  }
      .box-2{
        width: 150px;
        height: 60px;
        background-color: rgb(78, 108, 243);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        .icon2{
            transform: scale(6);
        }
      }
      .box-2:hover{
        transform: scale(1.1);
        transition: 0.5s;
  }
      .box-3{
        width: 150px;
        height: 60px;
        background-color: rgb(220, 232, 48);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
      }
      .box-3:hover{
        transform: scale(1.1);
        transition: 0.5s;
  }
      .box-4{
        width: 150px;
        height: 60px;
        background-color: rgb(129, 34, 224);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
      }
      .box-4:hover{
        transform: scale(1.1);
        transition: 0.5s;
  }}
}}



.container-skills{
   background-image: linear-gradient(45deg,rgb(142, 182, 197) 50%,rgb(11, 11, 90) 50%);
  //background-image: url(IT.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  
  //margin-top: 50px;
 // position: relative;


  
  .web{
    display: flex;
    flex-direction: column;
  .web-title{
    font-size: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 10px;
    font-family: "Sour Gummy", sans-serif;
    text-shadow: 2px 2px 5px rgb(36, 88, 141);
  }
    .row1{
        //position: absolute;
        display: flex;
        gap: 20px;
        .card-1{
          
            margin: 20px;
            margin-top: 30px;
            padding: 10px;
            width: 300px;
            height: 240px;
            background-color: rgba(255, 255, 255, 0.4); 
            backdrop-filter: blur(5px);
            line-height: 1.8;
            border-radius: 5px;
          
            h2{
                margin-bottom: 5px;
                text-align: center;
                text-shadow: 2px 2px 5px rgb(36, 88, 141);
            }
            p{
                text-indent: 30px;
                margin-bottom: 5px;
                font-family: "Roboto Slab", serif;
            }
            button{
             padding: 8px;
             border-radius: 6px;
             border: 0;
             background-color: rgb(33, 33, 114);
             color: #fff;
             margin-top: 4px;
             margin-bottom: 5px;
             a{
                text-decoration: none;
                color: #fff;
             }
       
            }
        }
        .card-2{
            margin: 20px;
            margin-top: 30px;
            padding: 10px;
            width: 300px;
            height: 240px;
            background-color: rgba(255, 255, 255, 0.4); 
            backdrop-filter: blur(5px);
            line-height: 1.8;
            border-radius: 5px;
            h2{
                margin-bottom: 10px;
                text-align: center;
                text-shadow: 2px 2px 5px rgb(36, 88, 141);
            }
          
            p{
                text-indent: 30px;
                margin-bottom: 5px;
                font-family: "Roboto Slab", serif;
            }
            button{
                padding: 8px;
                border-radius: 6px;
                border: 0;
                background-color: rgb(33, 33, 114);
                color: #fff;
                margin-top: 4px;
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color: #fff;
                 }
           
          
               }
        }
    }
}}


    .java{
        .js{font-family: "Sour Gummy", sans-serif;
            font-size: 35px;
            color: #fff;
            display: flex;
            justify-content: center;
            padding: 10px;
            text-shadow: 2px 2px 5px rgb(36, 88, 141);
        }
        .row2{
            display: flex;
            gap: 10px;
            height:32vh;
            .weather{
                background-image: url(/First-pg/weather.png);
                background-size: cover;
                background-position: center;
                margin: 20px;
                margin-top: 30px;
                padding: 10px;
                width: 200px;
                height: 160px;
                
      
               
                border-radius: 5px;
                border: 3px solid white;
                .weather-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(130, 189, 238);
                    border: 1px solid black;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                }
               
            }
            .to-do-list{
                background-image: url(/First-pg/to-do-list.png);
                background-size: cover;
                background-position: center;
                margin: 20px;
                margin-top: 30px;
                padding: 10px;
                width: 200px;
                height: 160px;
           
      border: 1px solid white;
                border-radius: 5px;
                .to-do-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(130, 189, 238);
                    border: 1px solid black;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                }
               
            }
            .quiz-app{
                background-image: url(/First-pg/quiz.png);
                background-size: cover;
                background-position: center;
                margin: 20px;
                margin-top: 30px;
                padding: 10px;
                width: 200px;
                height: 160px;
             
      border: 1px solid #fff;
                border-radius: 5px;
                .quiz-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(130, 189, 238);
                    border: 1px solid black;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                }
               
            }
            .random-app{
                background-image: url(/First-pg/random-pw.png);
                background-size: cover;
                background-position: center;
                margin: 20px;
                margin-top: 30px;
                padding: 10px;
                width: 200px;
                height: 160px;
        
      border: 1px solid #fff;
                border-radius: 5px;
                .random-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(130, 189, 238);
                    border: 1px solid black;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                }
                
            }
            .note-app{
                background-image: url(/First-pg/note-app.png);
                background-size: cover;
                background-position: center;
                margin: 20px;
                margin-top: 30px;
                padding: 10px;
                width: 200px;
                height: 160px;
           
      border: 1px solid #fff;
                border-radius: 5px;
                .note-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(130, 189, 238);
                    border: 1px solid black;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                }
                
            }
            .game{
                background-image: url(/First-pg/game.png);
                background-size: cover;
                background-position: center;
                margin: 20px;
                margin-top: 30px;
                padding: 10px;
                width: 200px;
                height: 160px;
               
      border: 1px solid #fff;
                border-radius: 5px;
                .game-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(130, 189, 238);
                    border: 1px solid black;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                }
               
                   
            }
            .on-off{
                background-image: url(/First-pg/on-off.png);
                background-size: cover;
                background-position: center;
                margin: 20px;
                margin-top: 30px;
                padding: 10px;
                width: 200px;
                height: 160px;
           
      border: 1px solid #fff;
                border-radius: 5px;
                .on-off-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(130, 189, 238);
                    border: 1px solid black;
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                }
               
                   
            }
          
    }
}
footer{
    .total{
        display: flex;
        padding: 15px;
        h2{
            display: flex;
            justify-content: space-between;
        }
        
    }
}}
















.custom-shape-divider-bottom-1731341525 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1731341525 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 56px;
}

.custom-shape-divider-bottom-1731341525 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1731341525 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 56px;
}

.custom-shape-divider-bottom-1731341525 .shape-fill {
    fill: #FFFFFF;
}